<h2 class="header-bar">Login</h2>
</br>

<form method ="post" action="/user/login">
  <div class="form-group">
    <label for="usernametext">Username</label>
    <input type="text" class="form-control" id="usernametext" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="passwordtext">Password</label>
    <input type="password" class="form-control" id="passwordtext" placeholder="Enter password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>